name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: 0ye0m
          outputs: |
            dist/snake.svg

      - name: Commit & Push
        uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist/snake.svg
